{{#> layout }}

    <nav class="nav">
        <div class="nav__item">
            <a href="#resume">resume</a>
        </div>
        <div class="nav__item">
            <a href="#experience">experience</a>
        </div>
        <div class="nav__item">
            <a href="#work">work</a>
        </div>
        <div class="nav__item">
            <a href="#contact">contact</a>
        </div>
        <div class="nav__item --white">
            <a id="clear" href="#">clear</a>
        </div>
    </nav>

    <canvas class="canvas"></canvas>

    <section class="main">

        <div class="main__me">
            <img src="../images/me.png" alt="me">
        </div>

        <div class="main__description">
            <h1>I’m a Full Stack Developer</h1>
            <h3>who focuses on writing clean, elegant and maintainable code.</h3>
        </div>

        <div class="main__links">
            <a href="https://github.com/milewski">
                <img src="../images/github-logo.svg" alt="github">
            </a>
            <a href="https://www.linkedin.com/in/rafaelmilewski/">
                <img src="../images/linkedin-logo.svg" alt="linkedin">
            </a>
            <a href="#contact">
                <img src="../images/email-logo.svg" alt="email">
            </a>
        </div>

    </section>

    <section class="box">
        <h2>Currently working as a Studio Designer & Software Engineer at Skysoul.</h2>
    </section>

    <section id="experience" class="container">

        <h1>Experience</h1>

        <div class="timeline">
            <ul>
                <li>
                    <div class="timeline__item">
                        <div class="timeline__company">SKYSOUL</div>
                        <div class="timeline__meta">[ 2014 - PRESENT] | Shanghai China</div>
                    </div>
                    <div class="timeline__description">
                        <div class="timeline__role">Studio Designer / Senior Developer</div>
                        <div class="timeline__link">
                            <a href="#">http://www.skysoul.com.au</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline__item">
                        <div class="timeline__company">PLANOV</div>
                        <div class="timeline__meta">[ 2014 - 2013] | Sao Paulo Brazil</div>
                    </div>
                    <div class="timeline__description">
                        <div class="timeline__role">Graphic Designer / Web Developer</div>
                        <div class="timeline__link --strike">
                            <a href="#">http://www.planov.com.br</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </section>

    <section id="work" class="container">

        <h1>A few pixels here and there...</h1>

        <ul class="portfolio">

            <li class="li --inspire">
                <a target="_blank" href="../images/pdf/magazine-inspire.pdf"></a>
            </li>
            <li class="li --instintos-crueis">
                <a target="_blank" href="../images/pdf/book-instintos-crueis.pdf"></a>
            </li>
            <li class="li --present-at-the-creation">
                <a target="_blank" href="../images/pdf/book-present-at-the-creation.pdf"></a>
            </li>
            <li class="li --frost-bite">
                <a target="_blank" href="../images/pdf/book-frost-bite.pdf"></a>
            </li>
            <li class="li --english-kids">
                <a target="_blank" href="../images/pdf/manual-english-kids.pdf"></a>
            </li>
            <li class="li --fest-up">
                <a target="_blank" href="../images/portfolio/festup-poaster.jpg"></a>
            </li>
            <li class="li --trip-airlines">
                <a target="_blank" href="../images/pdf/manual-trip-airlines.pdf"></a>
            </li>
            <li class="li --cha-leao">
                <a target="_blank" href="../images/pdf/packing-cha-leao.pdf"></a>
            </li>
            <li class="li --chocolate-nestle">
                <a target="_blank" href="../images/pdf/packing-chocolate-nestle.pdf"></a>
            </li>
            <li class="li --sabonete-natura">
                <a target="_blank" href="../images/pdf/packing-sabonete-natura.pdf"></a>
            </li>
            <li class="li --ferrero-rocher">
                <a target="_blank" href="../images/pdf/packing-ferrero-rocher.pdf"></a>
            </li>
            <li class="li --maxton">
                <a target="_blank" href="../images/pdf/packing-maxton.pdf"></a>
            </li>
            <li class="li --faber-castell">
                <a target="_blank" href="../images/pdf/catalogue-faber-castell.pdf"></a>
            </li>
            <li class="li --colgate">
                <a target="_blank" href="../images/portfolio/colgate.jpg"></a>
            </li>

        </ul>

    </section>

    <section id="contact" class="container">

        <h1>Contact me</h1>

        <div class="contact">
            I’m always open to <span>new opportunities</span> (full-time, freelance and contract).<br>
            <span>Email me at</span>
            <a href="mailto:rafael.milewski@gmail.com">
                <email>rafael.milewski@gmail.com</email>
            </a>
            if you are interested in working together.
        </div>

    </section>

{{/ layout }}
