@include component(contact) {
  font-size: 2em;
  font-weight: normal;
  color: darken($white, 60);

  span {
    color: $white;
  }

  a {
    text-decoration: none;
    &:hover {
      color: $primary;
      padding-bottom: .3em;
      border-bottom: 1px dashed $primary;
    }
  }
}
