$black: black;
$white: white;
$primary: #d2ff00;

//$mobile: (width 320px 900px) (orientation portrait);
$mobile: (width 320px 1024px);
$tablet: (width 768px 1024px);
$csstyle-root-id: portfolio;

@import "~photoswipe/dist/photoswipe";
@import "~photoswipe/dist/default-skin/default-skin";
@import "~csstyle/csstyle";
@import "~breakpoint-sass";
@import "../fonts/Roboto/stylesheet.css";
@import "dom";
@import "nav";
@import "canvas";
@import "box";
@import "container";
@import "timeline";
@import "contact";
@import "portfolio";
@import "id";
@import "tweeks";

@include breakpoint-set('to ems', true);

@include component(main) {

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 10;
  pointer-events: none;
  user-select: none;

  flex-wrap: wrap;
  text-align: center;
  height: 100%;

  @include breakpoint($mobile) {
    flex-wrap: nowrap;
    display: block;
    height: auto;
    margin-bottom: 3em;
  }

  @include part(links) {

    position: relative;
    z-index: 100;
    margin-top: 10%;
    pointer-events: auto;

    @include breakpoint($mobile) {
      margin-top: 5%;
    }

    a {
      text-decoration: none;
    }

    img {

      padding: 0 .3em;

      position: relative;
      width: 3em;
      transition: transform .1s;

      &:hover {
        transform: scale(1.2);
      }

    }

  }

  @include part(description) {
    margin-top: 3em;
    @include breakpoint($mobile) {
      padding: 1em;
      h1 {
        font-size: 10vw;
        margin-bottom: .3em;
      }
    }

    h3 {
      font-size: 1.4em;
    }
  }

  @include part(me) {
    width: 100%;
    img {
      @include breakpoint($mobile) {
        width: 70%;
      }
      @include breakpoint($tablet) {
        width: 60%;
      }
    }
  }

}
