@include component(timeline) {

  ul {

    padding: 0;

    li:first-child:before {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, $primary 51%, $primary 100%);
      @include breakpoint($mobile) {
        background: $primary;
      }
    }
    li:last-child:before {
      background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, $primary 51%, $primary 100%);
    }
    li:last-child {
      border-bottom: none;
      @include breakpoint($mobile) {
        &:after, &:before {
          display: none;
        }
      }
    }

    li {

      display: flex;
      align-items: center;
      padding: 2em;
      position: relative;
      border-bottom: 1px dashed $primary;

      @include breakpoint($mobile) {
        align-content: center;
        flex-wrap: wrap;
        border-bottom: 1px solid $primary;
      }

      @include breakpoint($tablet) {
        padding: 2em 1em;
        flex-wrap: inherit;
        text-align: left;
      }

      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        background: $primary;
      }

      &:after {
        left: -.5em;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        top: 50%;
        @include breakpoint($mobile) {
          top: inherit;
          left: inherit;
          right: 0;
          bottom: -.5em;
        }
      }

      &:before {
        left: -.05em;
        height: 100%;
        width: .1em;
        top: 0;
        @include breakpoint($mobile) {
          width: 1em;
          height: 1em;
          border-radius: 50%;
          top: inherit;
          left: -.5em;
          bottom: -.5em;
        }
      }

      & > div {
        @include breakpoint($mobile) {
          margin: 0;
        }
      }

    }
  }

  @include part(item) {
    flex-grow: 1;
    @include breakpoint($mobile) {
      width: 100%;
    }
  }

  @include part(company) {
    font-size: 3em;
    font-weight: bold;
  }

  @include part(meta) {
    font-size: .8em;
  }

  @include part(description) {
    line-height: 2em;
    flex-grow: 1;
    text-align: right;
    @include breakpoint($mobile) {
      text-align: center;
      width: 100%;
      padding-top: 1em;
      line-height: 1.4em;
    }
    @include breakpoint($tablet) {
      text-align: right;
      white-space: nowrap;
    }
  }

  @include part(role) {
    font-size: 1.6em;
    @include breakpoint($mobile) {
      font-size: 1.2em;
    }
  }

  @include part(link) {

    a {
      color: $white;
      text-decoration: none;
      font-size: 1.1em;
      &:hover {
        color: $primary;
        padding-bottom: .3em;
        border-bottom: 1px dashed $primary;
      }
    }

    @include option(strike) {
      a {
        text-decoration: line-through;
      }
    }
  }

}
