@include component(portfolio-gallery) {

  display: flex;
  flex-direction: column;
  padding: 1em;
  height: auto;

  @include option(single) {
    height: 100%;
    justify-content: center;
  }

  img {
    width: auto;
    object-fit: contain;
  }

}
