<!doctype html>
<html lang="{{ data 'language' }}">
{{> head title=title }}
<body class="body {{ body }}">

{{> @partial-block }}

{{#if (env 'ANALYTICS_ENABLED') }}
    {{> google }}
{{/if }}

</body>
</html>
