<!doctype html>
<html lang="{{ data 'language' }}">
{{> head title=title }}
<body id="portfolio">

{{> @partial-block }}

{{#if (env 'ANALYTICS_ENABLED') }}
    {{> google }}
{{/if }}

</body>
</html>
