{{#pages}}

<!doctype html>
<html lang="{{ language }}">

{{> head }}

<body id="portfolio">

{{> banner }}

{{> @partial-block }}

{{#if ENABLE_ANALYTICS }}
    {{> google }}
{{/if }}

{{> media-viewer }}

</body>

</html>

{{/pages}}
